<h2> Add a new doctor </h2>

<form action="/doctors" method="post">
  <label for="name">Doctor's name: </label>
  <input id="name" name="name" type="text">
  <label for="specialty">Specialty: </label>
  <input id="specialty" name="specialty" type="text">
  <button type="submit">Add Doctor</button>
</form>
