<h1>Welcome to the Doctor Office</h1>

<div class="container">
  <a href="/doctors">View All Doctors</a>
  <a href="/specialties">View All Specialties</a>
  <a href="/specialties/new">Add New Specialty</a>
  <a href="/doctors/new">Add New Doctor</a>
  <a href="/patients/new">Add New Patient</a>
</div>
