<h2> Add a new specialty </h2>

<form action="/specialties" method="post">
  <label for="name">Specialty: </label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Specialty</button>
</form>
